body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('bg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    padding: 10px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.portfolio {
    text-decoration: none;
    color: #fff;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #E40081;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

.bar.active {
    transform: rotate(-45deg) translate(-13px, 3px);
}

#bar2.active {
    transform: scaleX(0);
}

.bar.active + #bar3 {
    transform: rotate(45deg) translate(-13px, -4px);
} 

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.show {
    display: flex;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
}
  
.content {
    text-align: center;
    padding: 20px;
    color: #fff;
}
  
.content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.work-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(169, 169, 169, 0.7);
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
  }
  
  .work-list {
    text-align: center;
    color: #fff;
  }
  